<h1>コメント一覧画面</h1>
<!--
<p>
deck_max_numは「<%= @deck_max_num %>」です。
</p>
-->
<table border=1 cellpadding=5>
  <tr align="center"><td>名前</td><td>コメント</td><td>投稿日</td><td>更新日</td></tr>


  <% @boards.each do |board| %>
<%if false%>
<!--
  <%= @id = board.id %>
  <%= @user = User.find(board.user_id.to_i) %>
-->
<%end%>
    <tr>
      <!--<td><%= board.user_id %></td>-->
      <td><%= board.user.name %></td>
      <%if false%>
      <td align='center'><%= @user.name %></td>
      <%end%>
      <td><%= board.content %></td>
      <td><%= board.created_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td><%= board.updated_at.in_time_zone('Tokyo').strftime("%Y-%m-%d %H:%M:%S") %></td>
      <td><%= link_to '編集', :controller => 'board', :action => 'edit', :id => @id %></td>
      <td><%= link_to "削除", :controller => 'board', :action => 'delete', :confirm => "削除しますか？", :id => board.id, :para => false %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'TOPに戻る', :controller=>'user' %>

